<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Number Guess</title>
</head>

<body>
    <h1>Guess a number!</h1>

    {% if result %}
    <h2>{{ result }}</h2>
    {% endif %}


    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="correct_number" value="{{ random_number }}">
        <label for="guess">Enter a guess between 1-50:</label>
        <input type="number" id="guess" name="guess" min="1" max="50" required>
        <button type="submit">Submit</button>
    </form>

    {% if user_guess %}
    <p>Your guess was: {{ user_guess }}</p>
    {% endif %}

</body>

</html>